body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  button{
    background-color: rgb(3, 3, 43);
    color:white;
    border:none;
    padding:10px;
    margin: 20px;
    cursor:pointer;
}

.jobe{
    background-color: white;
        padding-bottom: 30px;
        margin:0;

}
.jobes{
    border-left: 1px blue solid;
    margin-top:20px;
    background-color: white;
    padding-top: 20px;
  
    display: block;
    width:350px;
    
  
  
}
.jobes .btn button{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),10px 10px 15px rgba(70,70,70,0.12);
   appearance: none;
   background-color: white;
   color:black;
   margin:5px;  outline:none;
  
  
  
  
   
}

h2{
    margin:10px;
    font-size:18px;
    text-transform: capitalize;
}


@media(max-width:700px){
    .jobe{
        padding-bottom: 20px;
    }
    .jobe .btn{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        }
        .jobes .btn button{
            box-shadow: -10px -10px 15px rgba(255,255,255,0.5),10px 10px 15px rgba(70,70,70,0.12);
            appearance: none;
            background-color: white;
            color:black;
            margin:5px;
            outline:none;
            
           
        }
    .jobes{
        border-left: 1px blue solid;
        margin-top:20px;
        background-color: white;
        padding-top: 20px;
        height:250px;
        display: block;
        width:300px;
        padding-bottom: 30px;
        
      
      
    }
    
        .jobe .jobes .btn{
            display:block;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            }
        
        h2{
            margin:10px;
            font-size:18px
        }
        .jobes .btn button{
            background-color: transparent;
            color:green;
           
            
        }
        button{
            background-color: rgb(3, 3, 43);
            color:white;
            border:none;
            padding:10px;
            margin: 20px;
        }

}